<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div id="content" class="app-content box-shadow-z0" role="main">

        <!--header-->
        <div th:include="public-header :: header"></div>
        <!-- / header-->

        <!--footer-->
        <div th:include="public-footer :: footer"></div>
        <!-- / footer-->

        <!--body-->
        <div th:include="public-body :: body"></div>
        <!-- / body-->

    </div>
</div>
</body>
</html>