<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="body">
    <div ui-view="" class="app-body" id="view" style="padding-left: 80px">

        <!-- ############ PAGE START-->
        <div class="padding" style="padding-left: 0px">
            <div class="row">
                <div class="col-md-12 col-xl-9">
                    <div class="b-b b-primary nav-active-primary">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="" data-toggle="tab" data-target="#tab1" onclick="tabOneClick()">历史行情</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="" data-toggle="tab" data-target="#tab2" onclick="tabTwoClick()">实时行情</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="" data-toggle="tab" data-target="#tab3" onclick="tabThreeClick()">行情预测</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content p-a m-b-md" style="padding: 0px">
                        <div class="tab-pane animated fadeIn text-muted active" id="tab1">
                            <div class="box">
                                <div class="box-body" style="padding: 0px">
                                    <div id="report" style="height:90px;padding-top:5px;padding-bottom: 5px;padding-left: 30px"></div>
                                    <div id="container" style="min-height: 530px;min-width: 100%"></div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane animated fadeIn text-muted" id="tab2">
                            <div class="box">
                                <div class="box-body" style="padding: 0px">
                                    <div id="container1" style="min-height: 530px;min-width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane animated fadeIn text-muted" id="tab3">
                            <div class="box">
                                <div class="box-body" style="padding: 0px">
                                    <div id="container2" style="min-height: 530px;min-width: 100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 col-xl-3">
                    <div class="col">
                        <div class="col-xs-12">
                            <div class="box p-a" style="margin-bottom: 10px">
                                <div class=" pull-left m-r">
                                    <h1 class="_800 l-s-n-x inline m-r-sm">浦发银行</h1>

                                </div>
                                <div class="clear">
                                    <h2 class="m-a-0 text-md _600">&nbsp;</h2>
                                    <td >600000</td>
                                </div>

                            </div>
                            <div class="box">

                                <div class="box-divider m-a-0"></div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>价格(￥)</th>
                                        <th>数量(笔)</th>
                                    </tr>
                                    </thead >
                                    <tbody id="tableBody">

                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="col-xs-12">
                            <!--<div class="box">-->
                                <!--&lt;!&ndash;<div class="box-header">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<h3>Your Sales</h3>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<small>A general overview of your sales</small>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<h1 class="_800 l-s-n-4x inline m-r-sm">5,600</h1>-->
                                <!--<span class="inline l-h-1x">-->
                                  <!--Markets <br>-->
                                  <!--<small class="text-muted">From africa to asia</small>-->
                                <!--</span>-->

                            <!--</div>-->

                            <div class="box p-a" id="priceBoard">

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- ############ PAGE END-->

    </div>

</div>
<script src="../highchats/jquery.min.js" type="text/javascript"></script>
<script src="../highchats/highstock.js"></script>
<script src="../highchats/chartExt.js"></script>
<script src="../highchats/dark-unica.js"></script>
<script src="../highchats/commonutil.js"></script>
<script>

    var globalCurrentStockTick;
    var globalPredictionStockData;
    var globalRealData;

    $(function Chart() {
//        {日期^1开盘价^2收盘价^3最高价^4最低价^5成交量^MA5^MA10^MA20^MA30}
        var crrentData =[];
//        {日期^1开盘价^2收盘价^3最高价^4最低价^5成交量^6成交额^7涨跌幅^8涨跌额^9换手率^10昨日收盘价^11MA5^12MA10^13MA20^14MA30^15MA60}
        var retTrade = {
            "vl":
                "1393776000000^6.67^6.64^6.71^6.56^76074355^503907245^-1.1905^-0.08^0.787^6.72^6.64^6.901^null^7.2427^null~" +
                "1401120000000^8.11^8.17^8.25^8.06^80099743^655534259^0.7398^0.06^0.828^8.11^8.012^7.84^null^7.7763^null~" ,

            "ccode":
                "000002.sz",
            "tag":
                "mtag_s430101_房地产开发",
            "cname":
                "万  科Ａ"
        }

//        SaleData List
//        dataRefresh();
        setInterval('dataRefresh()',5000);

//        History Chart
        $.ajax({
            type: "GET",
            url: "/restStock/getRestHistoryData/600000",
            dataType: "json",
            success : function(response) {
                new highStockChart('container',response,crrentData);
            },
            error : function(e) {
                alert('Failed!: ' + e);
            }
        });

//        Current Chart
        $.ajax({
            type: "GET",
            url: "/restStock/getRestTodayTick/600000",
            dataType: "json",
            success : function(response) {
                globalCurrentStockTick = response;
            },
            error : function(e) {
                alert('Failed!: ' + e);
            }
        });

//        Prediction Chart
        $.ajax({
            type: "GET",
            url: "/restStock/getRestHistoryTime/600000",
            dataType: "json",
            success : function(response) {
                var realTime = [];
                var result = eval(response);
                for(var i=response.length-20;isLarger(response.length,i); i++){
                    realTime.push([
                        result[i].date
                    ]);
                }
                new predictionChartCreate(realTime);
            },
            error : function(e) {
                alert('Failed!: ' + e);
            }
        });

    });

    function predictionChartCreate(realTime) {
        $.ajax({
            type: "GET",
            url: "/restStock/getRestPredictionData/600000",
            dataType: "json",
            success : function(response) {
                var realData = [];
                var predictionData = [];
                var real = 0;
                var prediction = 0;
                $.map(response, function( item ) {
                    if(item.type == 0){
                        realData.push([
                            realTime[real],
                            item.value
                        ]);
                        real++;
                    }else{
                        if(prediction == 20){
                            var myDate = new Date();
                            predictionData.push([
                                GetDateStr(1),
                                item.value
                            ]);
                        }else {
                            predictionData.push([
                                realTime[prediction],
                                item.value
                            ]);
                            prediction++;
                        }

                    }
                });
//                alert(predictionData.length);
                globalRealData = realData;
                globalPredictionStockData = predictionData;
            },
            error : function(e) {
                alert('Failed!: ' + e);
            }
        });
    }

    function dataRefresh(){
        $.ajax({
            type : "GET",
            url : "/restStock/getRestRealTick/600000",
            dataType: "json",
            success : function(response) {

                var thtml = '<tr><td><span class="label red">买1</span></td><td>'+response.b1P+'</td><td>'+response.b1V+'</td></tr>';
                thtml += '<tr><td><span class="label red">买2</span></td><td>'+response.b2P+'</td><td>'+response.b2V+'</td></tr>';
                thtml += '<tr><td><span class="label red">买3</span></td><td>'+response.b3P+'</td><td>'+response.b3V+'</td></tr>';
                thtml += '<tr><td><span class="label red">买4</span></td><td>'+response.b4P+'</td><td>'+response.b4V+'</td></tr>';
                thtml += '<tr><td><span class="label red">买5</span></td><td>'+response.b5P+'</td><td>'+response.b5V+'</td></tr>';
                thtml += '<tr><td><span class="label green">卖1</span></td><td>'+response.a1P+'</td><td>'+response.a1V+'</td></tr>';
                thtml += '<tr><td><span class="label green">卖2</span></td><td>'+response.a2P+'</td><td>'+response.a2V+'</td></tr>';
                thtml += '<tr><td><span class="label green">卖3</span></td><td>'+response.a3P+'</td><td>'+response.a3V+'</td></tr>';
                thtml += '<tr><td><span class="label green">卖4</span></td><td>'+response.a4P+'</td><td>'+response.a4V+'</td></tr>';
                thtml += '<tr><td><span class="label green">卖5</span></td><td>'+response.a5P+'</td><td>'+response.a5V+'</td></tr>';

                document.getElementById("tableBody").innerHTML = thtml;

                var phtml;
                var rate = (response.price - response.preClose)*100/response.preClose;
                rate = rate.toFixed(2);

                if(isLarger(response.preClose,response.price)){
                    phtml = '<div class=" pull-left m-r ">';
                    phtml += '<i class="fa fa-jpy text-success" style="font-size: 36px; ;padding-right: 10px;padding-left: 20px"></i><h1 class="_800 l-s-n-4x inline m-r-sm text-success">'+response.price+'</h1>';
                    phtml += '</div>';
                    phtml += '<div class="clear">';
                    phtml += '<h2 class="m-a-0 text-md _600">&nbsp;</h2>';
                    phtml += '<td class="text-success">';
                    phtml += '<i class="fa fa-arrow-down text-success"></i><a class="text-success"> '+rate+'%</a>';
                    phtml += '</td>';
                    phtml += '</div>';
                    document.getElementById("priceBoard").innerHTML = phtml;

                }else{

                    phtml = '<div class=" pull-left m-r ">';
                    phtml += '<i class="fa fa-jpy text-warning" style="font-size: 36px; ;padding-right: 10px;padding-left: 20px"></i><h1 class="_800 l-s-n-4x inline m-r-sm text-success">'+response.price+'</h1>';
                    phtml += '</div>';
                    phtml += '<div class="clear">';
                    phtml += '<h2 class="m-a-0 text-md _600">&nbsp;</h2>';
                    phtml += '<td class="text-success">';
                    phtml += '<i class="fa fa-arrow-down text-warning"></i><a class="text-warning"> '+rate+'%</a>';
                    phtml += '</td>';
                    phtml += '</div>';
                    document.getElementById("priceBoard").innerHTML = phtml;
                }
            },
            error : function(e) {
                alert('Failed!: ' + e);
            }
        });
    }

    function currentChart(seriesData) {
        var globalSeries;
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
        // Create the chart
        Highcharts.StockChart({
            chart: {
                renderTo : 'container1',
                events: {
                    load : function () {
                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            $.ajax({
                                type: "GET",
                                url: "/restStock/getRestTodayTick/600000",
                                dataType: "json",
                                success : function(response) {
                                    if(isLarger(response.length,globalSeries.length)){
                                        var result = eval(response);
                                        for(var i=globalSeries.length; isLarger(response.length,i); i++){
                                            var myDate = new Date();
                                            var strDate = myDate.toLocaleDateString();
                                            result[i].time = strDate +" "+result[i].time;
                                            result[i].time = result[i].time.replace(/-/g,"/");
                                            var datetime = new Date(result[i].time);
                                            var price = result[i].price;
                                            series.addPoint([datetime, price], true, true);
                                        }
                                    }
                                },
                                error : function(e) {
                                    alert('Failed!: ' + e);
                                }
                            });
//                            var x = (new Date()).getTime(), // current time
//                                y = Math.round(Math.random() * 100);
//                            series.addPoint([x, y], true, true);
                        }, 5000);
                    }
                }
            },
            rangeSelector: {
                buttons: [{
                    count: 1,
                    type: 'minute',
                    text: '1M'
                }, {
                    count: 5,
                    type: 'minute',
                    text: '5M'
                }, {
                    type: 'all',
                    text: 'All'
                }],
                inputEnabled: false,
                selected: 2
            },
            credits:{
                enabled:false
            },
            title: {
                text : '股票实时价格'
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: '价格',
                data: (function () {
                    var data = [];
                    $.map(seriesData, function( item ) {
                        var myDate = new Date();
                        var strDate = myDate.toLocaleDateString();
                        item.time = strDate +" "+item.time;
                        item.time = item.time.replace(/-/g,"/");
                        var datetime = new Date(item.time);
                        data.push([
                            datetime.getTime(),
                            item.price
                        ]);
                    });
                    globalSeries = data;
                    return data;
                }())
            }]
        });
    }

    function predictionChart(realData,predictionData) {
        Highcharts.StockChart({
            chart: {
                renderTo : 'container2',
                margin: [30, 30,30, 30],
            },
            credits:{
                enabled:false
            },
            rangeSelector : {
                enable: false
            },
            title: {
                text : '股票趋势预测'
            },
            xAxis: {
                enable: false,
            },
            series : [{
                name : '真实',
                data : realData,
                tooltip: {
                    valueDecimals: 1
                }
                },{
                name : '预测',
                data : predictionData,
                tooltip: {
                    valueDecimals: 1
                }
            }]
        });
    }
    
    function tabOneClick() {
        changeStatus("tab1","tab3","tab2");

    }

    function tabTwoClick() {
        changeStatus("tab2","tab1","tab3");
        new currentChart(globalCurrentStockTick);

    }

    function tabThreeClick() {
        changeStatus("tab3","tab1","tab2");
        new predictionChart(globalRealData,globalPredictionStockData);

    }
    function changeStatus(id1,id2,id3){
        $('#'+id1).addClass('active');
        $('#'+id2).removeClass('active');
        $('#'+id3).removeClass('active');
    }


</script>
</body>
</html>