<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content">
    <div id="content" class="app-content box-shadow-z0" role="main">

        <!--&lt;!&ndash;header&ndash;&gt;-->
        <!--<div th:include="public-header :: header"></div>-->
        <!--&lt;!&ndash; / header&ndash;&gt;-->

        <!--body-->
        <div th:include="public-body :: body"></div>
        <!-- / body-->

        <!--&lt;!&ndash;footer&ndash;&gt;-->
        <!--<div th:include="public-footer :: footer"></div>-->
        <!--&lt;!&ndash; / footer&ndash;&gt;-->

    </div>
</div>
</body>
</html>